services:
  lesbin-frontend:
    build:
      context: frontend/
    env_file: .env
    restart: unless-stopped
    environment:
      LESBIN_API_URL: "http://lesbin-api:8255"
    ports:
      - 3000:3000
    networks:
      - lesbin
  lesbin-api:
    build:
      context: api/
    env_file: .env
    restart: unless-stopped
    networks:
      - lesbin
    volumes:
      - lesbin-data:/srv/lesbin
volumes:
  lesbin-data:
networks:
  lesbin:
